<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.816580635380-orgrqnadjsthiqllouu324bfavdf23l7</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>816580635380-orgrqnadjsthiqllouu324bfavdf23l7.apps.googleusercontent.com</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>grindr</string>
		<string>tinder</string>
		<string>bumble</string>
		<string>hinge</string>
		<string>scruff</string>
		<string>kik</string>
		<string>reddit</string>
		<string>twitter</string>
		<string>discord</string>
		<string>tg</string>
		<string>snapchat</string>
		<string>imgur</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
